*.py[cod]
.hgignore~
.gitignore~
.hg/
.git/
.hgtags
.idea/
*.py,cover
.cache/

examples/db/
examples/tmp/
examples/media/static/
examples/static/
examples/settings/local_settings.py
builddocs/
/htmlcov/
builddocs.zip
build/
dist/
src/django_qartez.egg-info
MANIFEST.in~
.tox/
./cache/
.coverage
/examples/logs/
